*{ /*CSS Reset*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button{  /*Button Reset*/
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
    cursor: pointer;
}

body{
    background-color: #121212;
    color: #f2f2f2;
    padding-block: 2rem;
}

.paragraph_div,
.button_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12rem;

    height: 25svh;

    margin-bottom: 2rem;
    margin-inline: 8rem ;

}


button{
    color: #f2f2f2;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow: hidden;

    width: 8vw;
    height: 5rem;
    border-radius: 24px;

    transition: all 300ms ease-out;
}

button::before{
    content: 'HOVER ME!';

    width: 8vw;
    height: auto;
    
    padding: 2rem;
    background-color: #333333;

    transition: all 300ms ease-out;

    text-overflow: ellipsis;

    aspect-ratio: 1/2;
}

button::after{
    content: 'CAMBIA COLORE TESTO';
    
    width: 8vw;
    height: 5rem;
    
    padding: 2rem;

    transition: all 300ms ease-out;
}

button:hover::before{
    
    transition: all 300ms ease-out;

    transform: translateY(-5.2rem);

}

button:hover::after{
    transition: all 300ms ease-out;
    transform: translateY(-5.2rem);

}

button:active{
    box-shadow: 0 0 8px #f2f2f2;
    transition: box-shadow 0ms;
}

.d-none{
    display: none;
}

.f-w{
    font-weight: 800;
}